.login {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 200px auto;
    padding: 20px;
}

.login .login-main-conteudo, .login img {
    align-self: center;
}

.login-main-conteudo h1 {
    font-size: 4rem;
    line-height: 1.125;
    text-align: center;
    margin-bottom: 32px;
}

.login .input-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 20px;
}

.login .input-group label {
    font-size: 1.25rem;
    font-weight: bold;
}

.login .input-group input {
    width: 245px;
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 2px solid #000;
}

.login .input-group input:focus {
    border: 2px solid #6A38D5;
} 

@media (max-width: 800px) {
    .login {
        grid-template-columns: 1fr;
        margin: 50px auto;
    }

    .login img {
        display: none;
    }

    .login-main-conteudo h1 {
        font-size: 2.5rem;
    }
}