@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
} 

h1, h2, ul, p {
    margin: 0;
}

input {
    display: block;
}

ul {
   padding: 0px;
   list-style: none; 
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-container {
    background-color: #000;
}

footer {
    max-width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

/* a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none; 
}

.logo {
    font-size: 48px;
    font-weight: bold;
}

h1, h2 {
    color: #E1E1E6;
    margin: 0px;
}

button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-size: inherit;
    color: inherit;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #202024;
}

input {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
} */ 